.cricle{
    width:30px;
    height:30px;
    border-radius:50%;
    cursor: pointer;
}

body{
    background-color: #8B5CF6;
    transition:all 0.5s ease-in-out;
}

.red{
    background-color:#C026D3;
}

.green{
    background-color:#0D9488;
}

.blue{
    background-color:rgb(76, 76, 222);
}

.black{
    background-color:#333333;
}

.reset{
    background-color: #8B5CF6;
    width: 60px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:15px;
    border-radius:8px;
    cursor:pointer;
}

.riset:hover{
    background-color: #7d55da;
     transition:all 0.5s ease-in-out;
     font-size:18px;
}

.vidio-container{
    position:relative;
}

.vidio-component{
    position:absolute;
    bottom:0px;
}

.btn{
    border:none;
    border-radius:5px;
    padding:8px;
    cursor:pointer;
    font-weight: 500;
    font-size:14px;
    margin:5px;
}

.btn-play{
    background-color:crimson;
    color:white;
}

.btn-pause{
    background-color:lavender;
    color:black;
}

.btn-minimize{
    background-color:black;
    color:white;
}

.btn-zoom{
    background-color: darkslategray;
    color:white;
}

.btn:hover{
    opacity:0.8;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
};

/* css piano */

.piano-container{
    background-color:black;
    width: 500px;
    height: auto;

}

#note{
    background-color: #333333;
    display: flex;


}

.h1-piano{
    color:white;
    text-align:center;
    padding-bottom:8rem;
    text-shadow: rgba(0,0,0,0.3);
    font-size: 30px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.note-button{
    background-color:white;
    color:black;
    border: 1px solid black;
    width:100px;
    height: 200px;
    margin:10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* media query */

@media (max-width:768px) {
    .h1-piano{
        font-size:20px;
        padding-bottom: 7rem;
    }

    .piano-container{
        width:370px;
    }
}